html {
    scroll-behavior: smooth;
}

$primaryColor: #9356DC;
$secondColor: #FF79DA;
$thirdColor: #99E2D0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
        display: block;
        margin: 0 auto;
    }

    .header__location {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        box-shadow: 2px 2px 10px 2px grey;
        height: 50px;
        width: 100%;
    }
}


nav {
    text-align: center;
    background-color: #f0f0f0;
    width: 100%;
    padding: 15px 0;

    .nav__title,
    .nav__content {
        text-align: center;
    }

    .nav__button {
        display: inline-block;
        padding: 12px 24px;
        font-weight: bold;
        color: white;
        text-align: center;
        text-decoration: none;
        background: linear-gradient($secondColor, $primaryColor);
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px grey;
    }
}

.fonctionnement__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.fonctionnement {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px grey;
    width: 80%;
    position: relative;

    &__number {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-right: 15px;
        position: absolute;
        background-color: $primaryColor;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        left: -10px;
        text-align: center;
        line-height: 24px;
    }

    &__title {
        font-size: 16px;
    }

    i {
        font-size: 24px;
        margin-right: 15px;
        color: #7E7E7E;
    }
}

.restaurant{
    background-color: #f0f0f0;

    a{
        width: 100%;
        display:block;
    }
}

.card__container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 20px;
    overflow: hidden; 
    box-shadow: 0 4px 15px 0px grey; 
    position: relative;

    &__content {
        padding: 15px; 
        color: black;
    }

    &__icon {
        display: flex;
        justify-content: end;
    }

    &__image{
        height: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
        object-position: bottom;

    }

    .card__image--position{
        object-position: 0px -260px;
    }

    &__icon{
        font-size: 21px;
        position: absolute;
        bottom: 30px;  
        right: 25px;
    }
}

