$primaryColor: #9356DC;
$secondColor: #FF79DA;
$thirdColor: #99E2D0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__image{
        width: 100%;
        padding: 20px;
        box-shadow: 0px 2px 4px 0px #00000026;
        position: relative;
        z-index: 1;

        img {
            display: block;
            margin: 0 auto;
        }  
    }

    &__location {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:17px ;
        position: relative;
        background-color: #EAEAEA;
        box-shadow: 0 4px 4px 0 #00000040;
        height: 50px;
        width: 100%;
        color: #353535;
        
        input{
            border: none;
            outline: none;
            background: #EAEAEA;
            height: 100%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #353535;
        }

        input::placeholder{
            font-weight: 500;
            color: #353535;
            font-size: 16px;
        }
    }
}


nav {
    text-align: center;
    background-color: #f0f0f0;
    width: 100%;
    padding-bottom: 10px;

    p{
            font-weight: 300;
        }

    .nav__title,
    .nav__content {
        text-align: center;
        margin: 15px 0 ;

        
    }

}

.nav__button {
    display: inline-block;
    position: relative;
    padding: 12px 24px;
    margin: 10px 0;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    background: linear-gradient($secondColor, $primaryColor);
    border-radius: 25px;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(lighten($secondColor, 10%), lighten($primaryColor, 10%));
        opacity: 0;
        transition: opacity 300ms;
        border-radius: 25px;
    }

    span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.6);
    }

    &:hover::after {
        opacity: 1;
    }
}

.fonctionnement__section {
    margin: 50px 0;

    h2{
        padding: 0px 0px 20px 45px;
    }

}

.fonctionnement__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fonctionnement {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px grey;
    width: 80%;
    position: relative;

    &__number {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-right: 15px;
        position: absolute;
        background-color: $primaryColor;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        left: -10px;
        text-align: center;
        line-height: 24px;
    }

    &__title {
        font-size: 16px;
    }

    i {
        font-size: 24px;
        margin-right: 15px;
        color: #7E7E7E; 
    }

    .fa-solid.fa-store {
        color: #9356DC;
    }
    
}  

.restaurant{
    background-color: #f0f0f0;
    padding-bottom: 20px;

    h2{
        padding: 40px 0px 20px 20px ;
    }

}

.card__container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0 20px;
    overflow: hidden; 
    box-shadow: 0 4px 15px 0px #0000001A;
    position: relative;

    &__content {
        padding: 15px; 
        color: black;
    }
    
    &__image{
        height: 100%;
        height: auto;
        height: 250px;
        object-fit: cover;
    }

    &__icon {
        display: flex;
        justify-content: end;
        margin: 0 20px 15px 0;
        font-size: 21px;
        position: absolute;
        bottom: 30px;  
        right: 0px;
        color: black;

        .heart-toggle {
            position: absolute; 
            top: 0;
            left: -22px;
            width: 22px; 
            height: 22px;
            z-index: 10;
            opacity: 0;
          }
        
        .fa-regular.fa-heart {
            position: absolute;
            z-index: 1;
            width: 22px ;
        }
        
        .fa-solid.fa-heart {
            position: absolute;
            z-index: 2;
            width: 22px;
            transform: scale(0);
            transition: transform 400ms ;
            transform-origin: 50% 100%;
            background: linear-gradient(to top, #FF79DA, #9356DC); 
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        .heart-toggle:checked ~ .fa-solid.fa-heart {
            transform: scale(1.1);
        }
    }

    &__nouveau{
        position: absolute;
        top: 13px;
        right: 10px;
        background-color: $thirdColor;
        color: darken($thirdColor,  50%);
        padding:  5px 10px;
    }
}

.footer{
    display: flex;
    flex-direction: column;
    background-color:#353535;

    &__link{
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    h2{
        font-family: "Shrikhand", serif;
        color: white;
        font-weight: 400;
        font-size: 18px;
    }

    &__first,
    &__second{
        display: flex;
        flex-direction: column;
        gap: 7px;

        a{
            color: white;
        }
    }

    &__link,
    h2{
        margin: 16px;
    }

}

@media (min-width: 1024px){

    /*body{
        max-width: 1444px;
        margin: 0 auto;
    }*/

    nav{
        h1{
        font-size: 40px;
     }

     p{
        font-size: 18px;font-weight: 300;
     }
    }

    .fonctionnement__section{

        .fonctionnement__title__container{
            max-width: 1110px;
            margin: 0 auto;
        }

        .fonctionnement__container{
        flex-direction: row;
        max-width: 1053px;
        margin: 0 auto;
        gap: 30px;
        }
    }

    .restaurant__title__container{
        max-width: 1100px;
        margin: 0 auto;
        
        .card__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;

        .card {
            height: 250px; 
        }
        
        .card__image {
            height: 75%; 
            object-fit: cover; 
        }
        
        .card__content {
            padding: 10px; 
            height: 25%; 
        }
      }
    } 

    .footer{
        flex-direction: row-reverse;
        align-items: center;
        padding: 30px 25px 0;

        &__link{
            flex-direction: row;
            gap: 50px;

            .footer__first,
            .footer__second{
                flex-direction: row;
                gap: 20px;
            }

        }

    }
}