@import "utilities";

.loader-overlay {
    position: fixed;
    inset: 0;
    background-color: white;
    @extend %flex-center;
    z-index: 9999;
    opacity: 1;
    animation: fadeOutLoader 3s forwards;
    transition: opacity 0.5s, visibility 0.5s;
    transition-delay: 3s;
}

.loading {
    @extend %flex-center;
    align-items: flex-end;
    width: 300px;
    height: 100px;
    border-radius: 10px;

    &-bar {
    width: 50px;
    height: 10px;
    margin: 0 5px;
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
    transform-origin: bottom;
    will-change: transform;
    
    &:nth-child(1) { 
        background-color: $tertiary-color;
    }

    &:nth-child(2) { 
        background-color: $secondColor; 
        animation-delay: 0.1s; 
   }
    &:nth-child(3) { 
        background-color: $primaryColor; 
        animation-delay: 0.2s; 
    }
    &:nth-child(4) { 
        background-color: #2D2A4A; 
        animation-delay: 0.3s; 
    }
 }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
}

.header {
    @extend %flex-center;
    @extend %flex-column;

    &__image{
        width: 100%;
        padding: 20px;
        box-shadow: 0px 2px 4px 0px #00000026;
        position: relative;
        z-index: 1;

        img {
            display: block;
            margin: 0 auto;
        }  
    }

    &__location {
        @extend %flex-center;
        gap:17px ;
        position: relative;
        background-color: #EAEAEA;
        box-shadow: 0 4px 4px 0 #00000040;
        height: 50px;
        width: 100%;
        color: #353535;
        
        input{
            border: none;
            outline: none;
            background: #EAEAEA;
            height: 100%;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #353535;
        }

        input::placeholder{
            font-weight: 500;
            color: #353535;
            font-size: 16px;
        }
    }
}

nav {
    text-align: center;
    background-color: #f0f0f0;
    width: 100%;
    padding-bottom: 10px;

    p{
            font-weight: 300;
        }

    .nav__title,
    .nav__content {
        text-align: center;
        margin: 15px 0 ;

        
    }

}

.nav__button {
    display: inline-block;
    position: relative;
    padding: 12px 24px;
    margin: 10px 0;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    background: linear-gradient($secondColor, $primaryColor);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 200ms ease, box-shadow 200ms ease;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(lighten($secondColor, 10%), lighten($primaryColor, 10%));
        opacity: 0;
        transition: opacity 300ms;
        border-radius: 25px;
    }

    span {
        position: relative;
        z-index: 2;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35);
    }

    &:hover::after {
        opacity: 1;
    }
}

.fonctionnement__section {
    margin: 50px 0;

    h2{
        padding: 0px 0px 20px 45px;
    }

}

.fonctionnement__container{
    @extend %flex-center;
    @extend %flex-column;
    width: 100%;
}

.fonctionnement {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px grey;
    width: 80%;
    position: relative;

    &__number {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin-right: 15px;
        position: absolute;
        background-color: $primaryColor;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        left: -10px;
        text-align: center;
        line-height: 24px;
    }

    &__title {
        font-size: 16px;
    }

    i {
        font-size: 24px;
        margin-right: 15px;
        color: #7E7E7E; 
    }

    .fa-solid.fa-store {
        color: #9356DC;
    }
    
}  

.restaurant{
    background-color: #f0f0f0;
    padding-bottom: 20px;

    h2{
        padding: 40px 0px 20px 20px ;
    }

}

.card__container {
    @extend %flex-column;
    gap: 18px;
}

.card {
    @extend %flex-column;
    border-radius: 15px;
    margin: 0 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px 0px #0000001A;
    position: relative;

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }

    &__content {
        padding: 15px;
        color: black;
    }

    &__image {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

    .heart-toggle {
        position: absolute;
        bottom: 30px;
        right: 20px;
        width: 22px;
        height: 22px;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
    }

    &__icon {
        position: absolute;
        z-index: 9;
        bottom: 30px;
        right: 20px;
        font-size: 21px;
        width: 22px;
        height: 22px;
        
        .fa-regular.fa-heart {
            position: absolute;
            z-index: 1;
            width: 22px;
        }
        
        .fa-solid.fa-heart {
            position: absolute;
            z-index: 2;
            width: 22px;
            transform: scale(0);
            transition: transform 400ms;
            transform-origin: 50% 100%;
            background: linear-gradient(to top, $secondColor, $primaryColor);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    .heart-toggle:checked ~ .card__icon {
        .fa-solid.fa-heart {
            transform: scale(1.1);
        }
    }
    
    &__nouveau {
        position: absolute;
        top: 13px;
        right: 10px;
        background-color: $tertiary-color;
        color: darken($tertiary-color, 50%);
        padding: 5px 10px;
    }

    
}

.footer{
    @extend %flex-column;
    background-color:#353535;

    &__link{
        @extend %flex-column;
        gap: 7px;
    }

    h2{
        font-family: "Shrikhand", serif;
        color: white;
        font-weight: 400;
        font-size: 18px;
    }

    &__first,
    &__second{
        @extend %flex-column;
        gap: 7px;

        a{
            color: white;
        }
    }

    &__link,
    h2{
        margin: 16px;
    }

}

@media (min-width: 768px){
    .fonctionnement__title__container,
    .restaurant__title__container{
        max-width: 600px;
        margin: 0 auto;

        h2{
            margin-left: 10px;
        }
    }
}

@media (min-width: 1024px){
    nav{
        h1{
        font-size: 40px;
     }

     p{
        font-size: 18px;
        font-weight: 300;
     }
    }

    .fonctionnement__section{
        .fonctionnement__title__container{
            max-width: 1110px;
            margin: 0 auto;
        }

        .fonctionnement__container{
        flex-direction: row;
        max-width: 1053px;
        margin: 0 auto;
        gap: 30px;
        }
    }

    .restaurant__title__container {
        max-width: 1100px;
        margin: 0 auto;
        
        .card__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .card {
                height: 250px;
                
                a {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
                
                &__image {
                    height: 75%;
                    object-fit: cover;
                }
                
                &__content {
                    padding: 10px;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .heart-toggle,
                &__icon {
                    bottom: 20px;
                }
            }
        }
    }

    .footer{
        flex-direction: row-reverse;
        align-items: center;
        padding: 30px 25px 0;

        &__link{
            flex-direction: row;
            gap: 50px;

            .footer__first,
            .footer__second{
                flex-direction: row;
                gap: 20px;
            }

        }

    }
}