// variable 
$primaryColor: #9356DC;
$secondColor: #FF79DA;
$tertiary-color: #99E2D0;

// placeholder
%text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  %flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  %flex-column {
    display: flex;
    flex-direction: column;
  }

// key frame

@keyframes loading-wave-animation {
    0% {
      height: 10px;
    }
    50% {
      height: 100px;
    }
    100% {
      height: 10px;
    }
  }

@keyframes fadeOutLoader {
    99%{
      opacity: 1;
    }
    100%{ 
      opacity: 0; 
      visibility: hidden;
    }
}

@keyframes slideIn {
    from {
      transform: translateY(-40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }