.menu__item {
  opacity: 0;
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo-back {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0 20px;
}
.logo-back img {
  margin: 14px 0;
}
.logo-back .element-start {
  margin-right: auto;
}
.logo-back .element-start a {
  color: #353535;
}
.logo-back .element-middle {
  margin: 0 auto;
}

.main {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -64px;
  z-index: 1;
  border-radius: 30px 30px 0 0;
}

.img-restaurant {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.card__icon {
  position: absolute;
  left: 0;
  top: 5px;
}
.card__icon .heart-toggle {
  height: 28px;
  width: 28px;
  left: 0;
}
.card__icon .fa-heart {
  font-size: 28px;
  transition: transform 300ms linear;
  will-change: transform;
  width: 28px;
  position: absolute;
}
.card__icon .fa-regular.fa-heart,
.card__icon .fa-solid.fa-heart {
  width: 28px;
  position: absolute;
}
.card__icon .fa-solid.fa-heart {
  margin-top: 2px;
}

.title__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  position: relative;
}
.title__icon h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}

.menu {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu .line {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 5px 0;
}
.menu__title {
  font-size: 16px;
  font-weight: 300;
}
.menu .menu__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .menu__item {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding: 15px;
  height: 70px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.menu .menu__item .menu-item-checkbox {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.menu .menu__item:nth-child(1) {
  animation-delay: 100ms;
}
.menu .menu__item:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menu__item:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menu__item:nth-child(4) {
  animation-delay: 400ms;
}
.menu .menu__item:nth-child(5) {
  animation-delay: 500ms;
}
.menu .menu__item:nth-child(6) {
  animation-delay: 600ms;
}
.menu .menu__item:nth-child(7) {
  animation-delay: 700ms;
}
.menu .menu__item:nth-child(8) {
  animation-delay: 800ms;
}
.menu .menu__item:nth-child(9) {
  animation-delay: 900ms;
}
.menu .menu__item .menu__animation {
  background: #99E2D0;
  width: 60px;
  height: 70px;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(60px);
  will-change: transform;
}
.menu .menu__item .menu__animation .awesome--container {
  width: 20px;
  height: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.menu .menu__item .menu__animation .awesome--container i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #99E2D0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 300ms linear;
  transform: rotate(90deg);
  will-change: transform;
}
.menu .menu__item--content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu .menu__item--content h3 {
  width: 100%;
}
.menu .menu__item--details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu .menu__item--details .menu__item--description {
  font-size: 15px;
  font-weight: 300;
  flex-grow: 1;
  white-space: wrap;
}
.menu .menu__item--details .menu__item--price {
  font-size: 15px;
  font-weight: 700;
  margin-left: 10px;
  color: #353535;
  transition: transform 300ms ease;
  will-change: transform;
}

.menu-item-checkbox:checked ~ .menu__animation {
  transform: translateX(0);
}
.menu-item-checkbox:checked ~ .menu__animation .awesome--container i {
  transform: rotate(0);
}

.menu-item-checkbox:checked ~ .menu__item--content .menu__item--details .menu__item--price {
  transform: translateX(-60px);
}

.container__button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.container__button .nav__button {
  width: 190px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 200ms ease, box-shadow 200ms ease;
}
.container__button .nav__button:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.35);
  opacity: 0.9;
}

@media (min-width: 1024px) {
  .logo-back .element-start a {
    font-size: 30px;
  }
  .img-restaurant {
    height: 383px;
  }
  .main {
    max-width: 66%;
    margin: 0 auto;
    padding: 0 10%;
    margin-top: -64px;
  }
}
/*.menu__item--title,
.menu__item--description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: calc(80%);
} */