@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 10px;
  }
}
@keyframes fadeOutLoader {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}